// COMPONENTS
// form-input-color
// ------------------






// FROM COLOR
// =================================================

.c-form-color
    display: flex
    align-items: center

    &:not(:last-child)
        margin-bottom: 0.5rem

    &__label
        margin-left: 1rem

    &__input
        width: 5rem
        height: 2.5rem
        padding: 0.2rem !important