// COMPONENTS
// form
// ------------------





.c-form
	&__group
		display: flex

		&--3
			@include media('lg')
				flex-direction: column

	&__column
		&:not(:last-of-type)
			margin-right: 2rem

	&__list
		&:not(:last-of-type)
			margin-bottom: 0.5rem

	&__item
		&:not(:last-of-type)
			margin-bottom: 1rem

	&__field
		width: 100%
		padding: 1rem
		font-size: 1rem
		border: 2px solid $color-gray-0
		background-color: $color-gray-100

		&:focus
			border-color: $color-brand-1
			background-color: $color-gray-98



.c-fieldset
	&:not(:last-of-type)
		margin-bottom: 4rem


.c-legend
	margin-bottom: 2rem
	font-size: 1.8rem
	font-weight: 800
	color: $color-brand-1


.c-label
	width: 100%
	margin-bottom: 0.5rem
	display: inline-block
	font-size: 1.2rem
	color: $color-brand-2