// ANIMATIONS
// KEYFRAMES-ZOOM
// =================================================





// ZOOM IN
// ----------------------------------------------------------------------
@keyframes zoomIn {
	from {
		opacity: 0;
		transform: scale3d(0.8, 0.8, 0.8);
	}

	100% {
		opacity: 1;
		transform: scale3d(1, 1, 1);
	}
}





// ZOOM OUT
// ----------------------------------------------------------------------
@keyframes zoomOut {
	from {
		opacity: 1;
		transform: scale3d(1, 1, 1);
	}

	100% {
		opacity: 0;
		transform: scale3d(0.8, 0.8, 0.8);
	}
}
