// ANIMATIONS
// KEYFRAMES-MOVE
// =================================================





// MOVE IN
// ----------------------------------------------------------------------
@keyframes moveInBottomToTop {
	0% {
		opacity: 0;
		transform: translate3d(0, 100%, 0);
	}
	100% {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}


@keyframes moveInTopToBottom {
	0% {
		opacity: 0;
		transform: translate3d(0, -100%, 0);
	}
	100% {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}


@keyframes moveInRightToLeft {
	0% {
		opacity: 0;
		transform: translate3d(100%, 0, 0);
	}
	100% {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}


@keyframes moveInLeftToRight {
	0% {
		opacity: 0;
		transform: translate3d(-100%, 0, 0);
	}
	100% {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}





// MOVE OUT
// ----------------------------------------------------------------------
@keyframes moveOutTopToBottom {
	0% {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
	100% {
		opacity: 0;
		transform: translate3d(0, 100%, 0);
	}
}


@keyframes moveOutBottomToTop {
	0% {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
	100% {
		opacity: 0;
		transform: translate3d(0, -100%, 0);
	}
}


@keyframes moveOutLeftToRight {
	0% {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
	100% {
		opacity: 0;
		transform: translate3d(100%, 0, 0);
	}
}


@keyframes moveOutRightToLeft {
	0% {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
	100% {
		opacity: 0;
		transform: translate3d(-100%, 0, 0);
	}
}
