// ABSTRACTS - MIXINS
// MEDIA
// =================================================
@use "sass:meta";
@use "sass:math";
@use "sass:map";
@use "../variables/abstracts-variables-breakpoints" as *;
@use "../functions/abstracts-functions-contains" as *;





@mixin media($breakpoint, $rule: "max", $dimension: "width", $unit: "px") {
	$rules: "max", "min";
	$dimensions: "width", "height";
	$units: "px", "em", "rem", "%", "vw", "vh";

	@if not contains($rules, $rule) {
		$rule: "max";
	}

	@if not contains($dimensions, $dimension) {
		$dimension: "width";
	}

	@if not contains($units, $unit) {
		$unit: "px";
	}

	@if meta.type-of($breakpoint) == number {
		@if math.is-unitless($breakpoint) {
			@media (#{$rule}-#{$dimension}: #{$breakpoint + $unit}) {
				@content;
			}
		} @else if contains($units, unit($breakpoint)) {
			@media (#{$rule}-#{$dimension}: #{$breakpoint}) {
				@content;
			}
		} @else {
			@error "Invalid units provided";
		}
	} @else if meta.variable-exists(breakpoints) {
		@if map.has-key($breakpoints, $breakpoint) {
			@media (#{$rule}-#{$dimension}: #{meta.inspect(map.get($breakpoints, $breakpoint))}) {
				@content;
			}
		} @else {
			@error "Unfortunately, no value could be retrieved from `#{$breakpoint}`. " + "Available breakpoints are: #{map.keys($breakpoints)}.";
		}
	} @else if meta.variable-exists(breakpoint) {
		@media (#{$rule}-#{$dimension}: #{$breakpoint}) {
			@content;
		}
	} @else {
		@error "Neither $breakpoints map nor variable provided are defined";
	}
}
