// COMPONENTS
// page
// ------------------




.page
	&__body
		padding: 4rem 0
		position: relative

	&__title
		margin-bottom: 3rem
		font-weight: 900
		font-size: 3rem
		color: darken($color-brand-1, 20%)

	&__content