// COMPONENTS
// form-input-check: checkbox and radio buttons
// =================================================
@use "sass:math"
@use "sass:color"





// Settings
$check-label-margin-left: 1.6rem
// ------------------
$check-input-size: 3.2rem
$check-input-border: 0.2rem
$check-input-border-color: $color-gray-0
$check-input-background-color: $color-gray-98
$check-input-background-color-checked: $color-brand-1
// ------------------
$check-mark-width: 0.8
$check-mark-height: 1.6
$check-mark-color: $color-gray-100
// ------------------
$contrast: 5%



.check
	width: 100%
	height: $check-input-size
	padding-left: $check-input-size
	display: flex
	align-items: center
	position: relative
	font-size: 1.6rem
	user-select: none
	cursor: pointer

	// On mouse-over
	&:hover
		.check__input ~ .check__mark
			background-color: color.scale($color: $color-brand-1, $lightness: math.div($contrast, -1))

	&__label
		margin-left: $check-label-margin-left
		position: relative

	// Hide the browser's default checkbox
	&__input
		width: $check-input-size
		height: $check-input-size
		margin: 0
		padding: 0
		position: absolute
		top: 0
		left: 0
		opacity: 0
		cursor: pointer

		// When the checkbox is checked
		&:checked ~ .check__mark
			background-color: $check-input-background-color-checked

		// Show the checkmark when checked
		&:checked ~ .check__mark:after
			display: block

	// Create a custom checkbox
	&__mark
		width: $check-input-size
		height: $check-input-size
		position: absolute
		top: 0
		left: 0
		border-width: $check-input-border
		border-style: solid
		border-color: $check-input-border-color
		background-color: $check-input-background-color

		// Create the checkmark/indicator (hidden when not checked)
		&:after
			content: ""
			display: none
			width: #{$check-mark-width}rem
			height: #{$check-mark-height}rem
			position: absolute
			top: calc(50% - #{math.div($check-mark-height, 2)}rem)
			left: calc(50% - #{math.div($check-mark-width, 2)}rem)
			border: solid $check-mark-color
			border-width: 0 0.3rem 0.3rem 0
			transform: rotate(45deg)

.check
	&__input
		&[type="radio"] ~ .check__mark
			border-radius: 50%
