// COMPONENTS
// MESSAGE
// =================================================





.message
	width: 100%
	position: fixed
	left: 0
	top: 0
	z-index: 999
	background-color: $color-brand-1
	@include prefix(box-shadow, 0 0 2rem rgba($color-gray-0, 0.1))
	opacity: 0
	@include prefix(transform, translate3d(0, -100%, 0))

	&__inner
		margin: 0.5rem
		display: flex
		position: relative

	&__text
		padding: 1.6rem 3rem 1.6rem 1.6rem
		font-size: 1.6rem
		font-weight: 400
		color: $color-gray-95

		.link
			font-weight: 700
			color: $color-gray-100

			&:hover
				text-decoration: underline

	&__close
		position: absolute
		top: 0
		right: 0
		font-size: 2rem
		font-weight: 600
		color: $color-gray-95
		cursor: pointer

		&:hover
			color: $color-gray-100

	&--success,
	&--error
		.message
			&__text,
			&__close
				color: $color-gray-100

	&--success
		background-color: $color-success

	&--error
		background-color: $color-error

	&.is-show
		@include animation(moveInTopToBottom 0.2s ease-in 0s forwards)

	&.is-hide
		@include animation(moveOutBottomToTop 0.2s ease-in 0s forwards)
