// COMPONENTS
// FORM-FIELD-COLOR
// =================================================
@use "../abstracts/index" as *;

.field-color {
	display: flex;
	align-items: center;

	&:not(:last-child) {
		margin-bottom: 0.5rem;
	}

	&__label {
		margin-left: $field-color-label-margin;
		font-size: 1.6rem;
	}

	&__input {
		width: $field-color-size;
		height: $field-color-size;
		padding: 0;
		border-radius: 50%;
		cursor: pointer;

		&::-webkit-color-swatch-wrapper {
			position: relative;
			padding: 0;
		}

		&::-webkit-color-swatch {
			position: absolute;
			inset: 0;
			width: 80%;
			height: 80%;
			margin: auto;
			border: 0;
			border-radius: 50%;
		}

		&::-moz-color-swatch {
			width: 80%;
			height: 80%;
			border: 0;
			border-radius: 50%;
		}
	}
}
