// COMPONENTS
// ICON
// =================================================





.icon
    display: flex
    justify-content: center
    align-item: center

    i
        font-style: normal
        line-height: 100%
        pointer-events: none
