// ABSTRACTS - VARIABLES
// typography
// ------------------





// FONTS - FAMILY CORPORATIVE
// =================================================
$font-family-1: 'Raleway', helvetica, sans-serif





// FONTS - SIZE CONVERSION
// =================================================
// px to em more easy -> based to 10px insted of 16px
// 1em = 16px -> default css
// 16px * 0.625 = 10px -> now
// 1.6em * 10px = 16px -> use
//
// $font-size--html: 62.5%
// $font-size--body: 10px





// FONTS - SIZE H1-H6
// =================================================
$font-size--h1: 2.25rem !default    // 36px
$font-size--h2: 1.75rem !default    // 28px
$font-size--h3: 1.5rem !default     // 24px
$font-size--h4: 1.25rem !default    // 20px
$font-size--h5: 1.125rem !default   // 18px
$font-size--h6: 1rem !default       // 16px





// FONTS - SIZE BASE
// =================================================
$font-size--global: 16px !default
$line-height--global: 24px !default





// FONTS - FORMAT VARIANTS
// =================================================
$format--tiny: 0.25 !default
$format--small: 0.5 !default
$format--large: 2 !default
$format--huge: 4 !default